:root {
  --primery-color: #212121;
  --accent-color: #2196f3;
  --second-color: #757575;
  --backround-color: #f5f5f5;
  --logo-web-color: #000000;
  --background-btn: #f5f4fa;
  --text-btn-accent: #ffffff;
  --footer-adress-text: rgba(255, 255, 255, 0.6);
  --footer-backround-color: #2f303a;
}

/* ----------------------------body portfolio studio---------------------------------- */
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--primery-color);
  /* width: 1600px;
  height: 1880px;
  background: #ffffff; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
}

.button {
  cursor: pointer;
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  /* border: 2px solid tomato; */
}

/*---------------------------- Header portfolio studio----------------------------- */
/* .container.container-header {
  border-bottom: 1px solid #ececec;
} */

header {
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  align-items: center;
}

/* ---логотип--- */
.logo-header {
  padding: 25px 0;
  display: block;
}

.header-studio {
  color: var(--logo-web-color);
}

.logo-header {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

/* ---сторінки сайту портфоліо--- */

.list {
  padding: 0;
  display: block;
  list-style-type: none;
  display: flex;
}

.link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primery-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list .link.current {
  color: var(--accent-color);
}

/* ---контакти шапки--- */
.header-adress {
  /* padding: 32px 0; */
  list-style-type: none;
  display: flex;
  margin-left: auto;
  
}

.header-mail {
  display: flex;
  margin-right: 50px;
  align-items: center;
}


/* .header-mail-icon{
  margin:0;
  padding: 0;
  
} */

.list>li:not(:last-child) {
  margin-right: 50px;
}

.header-mail,
.header-phone {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
  fill:var(--second-color);

  align-items: center;
}

.header-mail-icon{
  margin-right: 10px;  
}
.header-phone{display: flex;
align-items: center;}

.header-phone-icon{margin-right: 10px;}

.header-phone:focus,
.header-phone:hover,
.header-mail:focus,
.header-mail:hover {
  color: var(--accent-color);
  fill: currentColor;
}

/*----------------------------- Main portfolio studio----------------------- */

/*---кнопки фільтра портфоліо--- */
.main-list-btn {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.main-list-btn>li:nth-child(n + 2) {
  margin-left: 8px;
}

.button {
  font-family: inherit;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--background-btn);
  color: var(--primery-color);
  border: none;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  color: var(--text-btn-accent);
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
}

.main-link-btn {
  list-style-type: none;
}

/* Секція ефективні рішення стуія */
.solution {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/effect-solution.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-backround-color);
  padding: 200px 0;
}

.solution-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-btn-accent);
  width: 696px;
  margin: 0 auto 30px;
}

/* ----кнопка студія----- */
.button-studio {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  margin: 0 auto;
  padding: 10px 32px;
  border: none;
}

.button-studio:hover,
.button-studio:focus {
  color: var(--accent-color);
  background: var(--text-btn-accent);
  cursor: pointer;
  border-radius: 4px;
}

/*---фото и текст портфоліо--- */
.main-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc((100%-60px) / 3);
  row-gap: 30px;

  /* align-content: stretch; */
}

/* .main-list > li:nth-child(3n + 1) {
  margin-left: 0px;
} */
.main-link-title {
  /* margin: 20px 24px; */
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.main-link.img {
  margin-right: 0;
}

/* .main-link{display: block;} */
.main-link-lead {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.main-link-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* -------Студія------ */

/* ---переваги студія--- */
.benefits {
  list-style-type: none;
  display: flex;
}

.benefits>li:not(:first-child) {
  margin-left: 30px;
}

.benefits-icon{
  margin-bottom: 30px;
  padding: 25px 100px;
  max-width: 270px;
  background: var(--background-btn);
    border-radius: 4px;
}
/* .benefits-icon-item{} */

.benefits-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.benefits-subtext {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  max-width: 270px;
}

/* ----about studio--- */
.section.about {
  padding-top: 0;
}

.text-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.about-pictures {
  list-style-type: none;
  display: flex;
}

.about-pictures>li:not(:first-child) {
  margin-left: 30px;
}

/* -----team studio-------- */
.text-section {
  margin-bottom: 50px;
}

.team {
  background-color: var(--background-btn);
}

.team-foto {
  list-style-type: none;
  display: flex;
}

.team-foto>li:not(:first-child) {
  margin-left: 30px;
}

.hero-name-position {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--text-btn-accent);
}

.hero-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* margin-top: 30px; */
  margin-bottom: 10px;
  text-align: center;
}

.hero-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  /* margin-bottom: 30px; */
  text-align: center;
}
/*---- Постійні клієнти studio ----*/
.regular-clients{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  color: var(--primery-color);
}
.clients{
  /* display:block; */
display: flex;
  /* list-style-type: none; */
  /* display: inline-block; */
  
}
.client-icons{
  border: #2196f3;

}
/*------------------------- Footer portfolio studio-------------------------*/
.footer-studio {
  color: var(--text-btn-accent);
}

.logo-footer {
  /* padding: 25px 0; */
  display: block;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  /* margin-right: 93px; */
  /* padding-top: 60px; */
}

footer {
  /* width: 1600px;
  height: 252px; */
  background: var(--footer-backround-color);
  margin: 0 auto;
  padding: 60px 0;
}

.footer-adress {
  list-style-type: none;
  margin-top: 20px;
}

.footer-adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress a {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-adress-text);
}

.footer-adress .map {
  color: var(--text-btn-accent);
}

.map:hover,
.map:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}